git+https://github.com/adafruit/Adafruit_Python_DHT.git@master
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
DictObject==0.1.2
ipdb==0.9.3
ipython==4.2.0
ipython-genutils==0.1.0
luckydonald-utils==0.43
pathlib2==2.1.0
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
pytg==0.4.10
RPi.GPIO==0.6.2
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
python-dateutil==2.6.0
